
@{
    ViewBag.Title = "Afiliados";
}

<h2 class="text-info" >Afiliados del socio</h2>

<table class="table border-1 border-info table-info">
    <tr class="bg-info text-light">
        <th>
            Afiliado
        </th>
        <th>
            Parentesco
        </th>
        <th>
            Telefono
        </th>
    </tr>
   
    @foreach (var item in ViewData["Afiliados"] as IEnumerable<Proyecto_Final_Web.Models.Listas>)
    {
    <tr >
        <td>@item.listaAfiliados.Nombre @item.listaAfiliados.Apellidos </td>
        <td>@item.listaAfiliados.Parentezco</td>
        <td>@item.listaAfiliados.telefono</td>


        @{ /*if (item.empleadoslista.salario.HasValue)
{

monto = monto + item.empleadoslista.salario.Value;

}
*/
        }

    </tr>



            }
 

</table>
@Html.ActionLink("Volver", "Index", "Socios","",new { @class= "btn btn-primary"})